.card{
    display: inline-block;
    padding: 1rem;
    margin: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
    color: black;
    width: 35%;
    text-align: left;
}

.expense-item h5{
    margin-top: 2rem;
    margin-bottom: 4px;
}

.expense-item i{
    float: right;
    font-size: 20px;
    margin-right: 20px;
}